/*******************************************************************
	Button
********************************************************************/
.btn{
	height: 40px;
	background: transparent;
	@include font(16px, $white);
	font-weight: $fw-medium;
	letter-spacing: -1px;
	&-rect{
		padding: 0 25px;
		border-radius: 8px;
		background: $primary;
	}
	&-round{
		height: 72px;
		padding: 0 40px;
		background: $primary;
		border-radius: 48px;
	}
	&-icon{
		display: flex;
		align-items: center;
		&.shortcut{
			padding: 20px;
			@include font(16px, $black-1e);
			font-weight: $fw-medium;
			&::after {
				content: '';
				width: 20px;
				height: 20px;
				margin-left: 8px;
				background: url("../../common/images/icon/icon_arr_circle.svg") no-repeat 0 0;
				background-size: 100%;
			}
			&.left {
				&::after {
					transform: rotate(180deg);
				}
			}
		}
		&.arr{
			height: 65px;
			padding: 0 40px;
			border: 1px solid $white;
			border-radius: 35px;
			@include font(18px, $white);
			font-weight: $fw-medium;
			transition: all 0.2s;
			&::after {
				content: '';
				width: 30px;
				height: 30px;
				margin-left: 15px;
				background: url("../../common/images/icon/icon_arr_white.svg") no-repeat 0 0;
				background-size: 100%;
			}
			&:hover{
				background: $white;
				color: $primary;
				&::after {
					background: url("../../common/images/icon/icon_arr_primary.svg") no-repeat 0 0;
					background-size: 100%;
				}
			}
			&.hover-none {
				&:hover{
					background: $primary;
					color: $white;
					&::after {
						background: url("../../common/images/icon/icon_arr_white.svg") no-repeat 0 0;
						background-size: 100%;
					}
				}
				&.black {
					&:hover {
						background: $black-1e;
					}
				}
			}
		}
		&.download {
			border-bottom: 1px solid $black-1e;
			&::after {
				content: '';
				font-weight: $fw-bold;
				width: 26px;
				height: 26px;
				margin-left: 8px;
				background-size: 100%;
				background-image: url("../../common/images/icon/icon_download.svg");
				background-repeat: no-repeat;
			}
		}
	}
	&-list {
		width: fit-content;
		height: auto;
		margin: 0 auto;
		a {
			@include font(16px, $black-1e);
			border: 2px solid $black-1e;
			display: inline-block;
			border-radius: 60px;
			font-weight: $fw-medium;
			letter-spacing: -1px;
			padding: 20px 40px;
			transition: .2s;
			&:hover {
					color: $white;
					background-color: $black-1e;
			}
		}
		@media all and (max-width : 1023px) {
			a {
				@include font(14px, $black-1e);
				border-radius: 60px;
				padding: 12px 24px;
			}
		}
	}
	&-readmore {
		width: fit-content;
		& > a {
			@include font(16px,$white);
			display: block;
			background-color: $black-1e;
			border-radius: 60px;
			padding: 16px 36px;
			margin-top: 50px;
			font-weight: $fw-bold;
			transition: .3s;
			width: fit-content;
			line-height: 160%;
			&:hover {
				background-color: #3870FF;
				color: $white;
			}
		}
		&.white {
			& > a {
				border: 2px solid $black-1e;
				background-color: #fff;
				color: $black-1e;
				&:hover {
					border-color: #3870FF;
					background-color: #3870FF;
					color: $white;
				}
			}
		}

		@media all and ( max-width : 1600px) {
			& > a {
				@include font(15px);
				padding: 16px 36px;
				margin-top: 50px;
			}
		}
		@media all and ( max-width : 1400px) {
			& > a {
				@include font(14px);
				padding: 14px 32px;
				margin-top: 50px;
			}
		}
		@media all and ( max-width : 1200px) {
			& > a {
				@include font(14px);
				padding: 12px 26px;
				margin-top: 50px;
			}
		}
		@media all and ( max-width : 1023px) {
			& > a {
				@include font(13px);
				padding: 12px 26px;
				margin-top: 24px;
			}
		}
	}
	// color
	&.primary{
		background: $primary;
	}
	&.black{
		background: $black-1e;
		color: $white;
	}
}

.btn-area{
	width: 100%;
	text-align: center;
}